{% extends "base.html" %}
{% block title %}
    {{super()}}
    view trip details
{% endblock title%}

{% block page_content %}
<div class = "container">
	<table class = "table table-responsive table-hover table-striped">
		<caption>
			<h3>details for trip id {{trip.trip_id}}</h3>
		</caption>
		<thead class = "thead-dark">
			<tr>
				<th>field</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>trip date</td>
				<td>{{trip.trip_date}}</td>
			</tr>
			<tr>
                                <td>distance to be covered</td>
				<td>{{trip.distance}}</td>
			</tr>
			<tr>
                                <td>driver</td>
				<td>{{trip.first_name}} {{trip.middle_name}} {{trip.last_name}}</td>
			</tr>
			<tr>
                                <td>vehicle</td>
				<td>{{trip.plate_no}}</td>
			</tr>
			<tr>
                                <td>type</td>
				<td>{{trip.make_type}}</td>
			</tr>
		</tbody>
	</table>
	{% if trip.trip_date > current_time %}
	<div class = "container">
		<caption>
			<h3>add an order</h3>
		</caption>
		<hr>
		{{wtf.quick_form(form)}}
	</div>
	{% endif %}
	<hr>
	<div class = "container">
		<caption>
			<h3>
				economic feasibility
			</h3>
		</caption>
	</div>
	<div class = "container">
		<table class = "table table-responsive table-hover table-striped">
			<caption>
				<h3>list of allocated orders</h3>
			</caption>
			<thead class = "thead-dark">
				<tr>
					<th>order id</th>
					<th>date</th>
					<th>member</th>
					<th>retail name</th>
					<th>location</th>
					<th>email</th>
					<th>phone</th>
				</tr>
			</thead>
			<tbody>
				{% for order in allocated_orders %}
				<tr>
				<td>{{order.order_id}}</td>
				<td>{{order.order_date}}</td>
				<td>{{order.name}}</td>
				<td>{{order.retail_name}}</td>
				<td>{{order.retail_location}}</td>
				<td>{{order.retail_email}}</td>
				<td>{{order.retail_phone_no}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock page_content %}
